.title {
    font-weight: 1000;
    font-family: 'Klarna Text';
    font-size: 32px;
    letter-spacing: .3px;
}

.img-thumb {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
}

.activate-time {
    width: 70%;
    font-size: 16px;
}

td {
    padding: 2px;
}

.wrap-body {
    padding: 0 70px;
    margin-bottom: 15px;
}

.description {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 500;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.author {
    font-weight: 700;
    display: inline;
}

.static-rate {}

.static-rate:not(:checked)>label:before {
    content: '★ ';
}

.static-rate>input:checked~label {
    color: #ffc700;
}

.static-rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.static-rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.static-rate {
    float: left;
    height: fit-content;
    margin-right: 15px;
}

.review {
    font-size: 20px;
}

.checked {
    color: orange;
}

.form-group input,
.form-group textarea {
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px;
}

form {
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 5px;
    padding: 20px;
}

#post {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 20%;
    transition: .5s;
}

#post:hover {
    background-color: #deb217;
}