<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class='container'>
        <div class=" wrap-body row">

            <div class="col-md-12 ">
                <span class="h4 title">Lake of the Restored Sword (Hoan Kiem Lake), Hanoi</span>
            </div>


        </div>
        <div class="wrap-body row">
            <div class="col-md-8">



                <img class="img-thumb" src="https://s.inspirockcdn.com/ds10/photos/Vietnam/3/lake-of-the-restored-sword-hoan-kiem-lake-1920386144.jpg">


            </div>
            <div class="col-md-4">
                <h4><b>Recommended Duration</b></h4>
                <h5 class="description">1 hour 30 minutes</h5>
                <br>

                <h4><b>Hours</b></h4>
                <div class="grid-container">
                    <table class="activate-time">
                        <tr>
                            <td>Sunday</td>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <td>Monday</td>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <td>Tuesday </td>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>8am - 5pm</td>
                        </tr>

                    </table>
                </div>
                <br>
                <h4><b>Address</b></h4>
                <p class="description">Hoàn Kiếm Lake,<br> Hang Trong,<br> Hoàn Kiếm,<br> Hanoi,<br> Vietnam</p>

            </div>

        </div>
        <div class="wrap-body row">
            <div class="col-md-8">
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                    more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="wrap-body row">
            <div class="col-md-12">
                <span class="h4 title">Lake of the Restored Sword (Hoan Kiem Lake) reviews</span>
                <br>

            </div>
        </div>
        <div class="wrap-body row">



            <div class="col-md-4">
                <div>
                    <h3 class="title">Rate this attraction: </h3><span></span>
                    <br>
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>


            </div>

        </div>
    </div>


</body>

</html>